
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  color: #FFFFFF;
  margin: 0;
}

/* shared style  */

.flex{
  display: flex;
}
.bg-cl{
  background-color: #1A0B2E;
}
.bg-cll{
  background-color: #230E3D;
}
.green{
  color: #00FF88;
}

/* This is header  */

/* navbar */

.navber{
  justify-content: space-around;
  background-color: #1A0B2E;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title h1{
  font-size: 3rem;
}
.wave{
  background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.navs{
  gap: 40px;
  margin-top: 20px;
  
}
ul li{
  list-style: none;
  
}
ul li a{
  text-decoration: none;
}
.btn{
  padding: 13px 30px 13px 17px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 1000px;
  border: none;
}

.btn-2{
  padding: 13px 30px 13px 17px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 1000px;
  border: none;
}
.hamburger{
  display: none;
}

/* hero-container */
#hero-section{
  
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.hero-container{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5.5%;
 
}

.image{
  position: relative;
  margin: auto;
  width: 450px;
}

.circle{
  width: 100%;
  display: block;
}
.mic{
  position: absolute;
  width: 35%;
  top: 27%;
  left: 33%;
  
}
.new-btn{
  position: absolute;
  padding: 10px 18px;
  background-color: #00FF88;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 19px;
  border-radius: 1000px;
  border: none;
  top:  12%;
  left: 80%;
}

.hero-content{
  margin-top: 50px;
  text-align: center;
}
.hero-content h1{
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero-content p{
  font-weight: 300;
  margin-bottom: 30px;
}
.buttons{
  padding-bottom: 110px;
  
}

.envelop{
  padding: 13px 21px 13px 30px;
  color: #00FF88;
  background-color: transparent;
  border: 1px solid #00FF88;
  border-radius: 1000px;
  margin-left: 15px;
}
.fa-envelope{
  color: #00FF88;
}
/* about podcast */
.podcast{
  text-align: center;
}
.podcast h1{
  padding-top: 60px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;

}
.podcast p{
  font-weight: 100;
}
.overview{
max-width: 1200px;
margin: 0 auto;
margin-top: 180px;
padding-bottom: 130px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 90px;
justify-content: center;
}

.overview h1{
 color: #00FF88; 
 font-size: 3rem;
}
.overview p{
  font-size: 0.85rem;
  font-weight: 200;
  margin-top: 20px;
}
.overview i {
  color: #00FF88;
  
}

/* About container   */

#about-container{
  margin: 0 auto;
}

#about-container h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 45px;
}



.about-content{
  /* height: 270px; */
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 270px);
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 130px; 
}

.box-1{
  grid-row: span 2;
  align-items: center;
}
.box-2, .box-3,.box-4{
  grid-column: span 2;
}

.about-contents{
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px; 
  border-radius: 40px;
  align-items: center;
}
.about-contents img{
  margin-bottom: 20px;
}

.about-contents h2{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;

}
.about-contents p{
  font-weight: 100;
}

/* featured section  */
.features{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.featured-episodes h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 50px;
}

.Episodes{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
}
.carts{
  padding: 24px;
  border-radius: 20px;
}
.carts h2{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.time{
  margin-top: 15px;

}

.carts p{
  font-size: 0.875rem;
  font-weight: 200;
  margin-bottom: 15px;
}