/* small devices  */

@media screen and (max-width: 576px) {
   
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
    #about-podcast{
        padding: 20px;
        text-align: center;
    }
    
    .overview{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    
    .box-1, .box-5{
        /* width: 100%; */
        grid-row: span 1;
        grid-column: span 2;
    }
    .Episodes{
        grid-template-columns: repeat(1, 1fr);
    }
    .host-content{
        flex-direction: column;
        text-align: center;
        padding: 40px 30px;
    }



}





/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
    #about-podcast{
        padding: 20px;
        /* margin: 0 auto; */
        text-align: center;
    }
    .overview{
        grid-template-columns: repeat(2, 1fr);
       
}

    .about-content{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
   
    .box-1, .box-2, .box-3, .box-4, .box-5{
        grid-row: span 1;
        grid-column: span 1;    }
         .Episodes{
        grid-template-columns: repeat(1, 1fr);
    }
}






/* large screen  */

@media screen and (min-width:992px) and (max-width: 1400px){
 
     .overview{
        grid-template-columns: repeat(3, 1fr);
       
}
#about-podcast{
        padding: 20px;
        text-align: center;
}
   .Episodes{
        grid-template-columns: repeat(2, 1fr);
    }

} 