/* small devices  */

@media screen and (max-width: 576px) {
   
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
    #about-podcast{
        padding: 20px;
        text-align: center;
    }
    
    .overview{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content{
        padding: 20px;
    }
    .box-1{
        /* width: 100%; */
        grid-row: span 1;
    }
}





/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
    #about-podcast{
        padding: 20px;
        /* margin: 0 auto; */
        text-align: center;
    }
    .overview{
        grid-template-columns: repeat(2, 1fr);
       
}

    .about-content{
        grid-template-columns: repeat(1, 1fr);
    }


}






/* large screen  */

@media screen and (min-width:992px) and (max-width: 1400px){
 
     .overview{
        grid-template-columns: repeat(3, 1fr);
       
}
#about-podcast{
        padding: 20px;
        text-align: center;
}

.about-content{
        grid-template-columns: repeat(1, 1fr);
    }


}