/* small devices  */

@media screen and (max-width: 576px) {
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .navs, .btn{
        display: none;
        
    }
    .hamburger{
        display: block;
        margin-top: 25px;
    }
}